%footer#footer
  .logo
    = partial 'layouts/logo'
  %p
    = link_to 'Home', data.site.root_url
    = link_to 'Blog', '/blog'
    = link_to 'Work', '/work'
    = link_to 'Contact', '#contact', class: 'trigger-modal'
  %ul.social
    - data.social.each do |f|
      %li
        = link_to '', f.link, class: f.css_class, title: f.title, target: '_blank'