!!!5
%html{lang: 'en', prefix: 'og: http://ogp.me/ns#'}
  = partial 'layouts/head'

  %body{class: current_page.data.body_class}
    = partial 'layouts/nav'
    .page-container
      = yield

    = partial 'layouts/footer'
    = partial 'layouts/contact_form'

    = javascript_include_tag :application, 'data-turbolinks-track' => true