!!!5
%html{lang: 'en', prefix: 'og: http://ogp.me/ns#'}
  = partial 'layouts/head'

  %body{class: current_page.data.body_class}
    = partial 'layouts/nav'
    .page-container
      = yield

    = partial 'layouts/footer'
    = partial 'layouts/form_contact'

    = javascript_include_tag :application, 'data-turbolinks-track' => true
    = javascript_include_tag 'http://www.parsecdn.com/js/parse-1.3.5.min.js'
    = google_analytics_universal_tag
