---
layout: home
---
.home_wrapper
  .header
    Hey there...
    %br
      %span.dark My name is Lubos. I'm
      %span.typed an '80s kid, a web developer, an entrepreneur
  .subheader
    I thrive in an environment where no two days are exactly the same...
    %br
      Along with #{link_to '@RKohei', 'https://twitter.com/RKohei',  target: '_blank'} I have started #{link_to '@GliderPath', 'https://tms.gliderpath.com', target: '_blank'}, a SaaS solution helping translation companies worldwide.
#sidebar
  = link_to '/blog' do
    #top.work
      .inner
        %i.icon.icon-message
        %span Blog
  #bottom
    .left
      = link_to '/work' do
        .work
          .inner
            %i.icon.icon-lab
            %span Work
    .right
      = link_to '/about' do
        .about
          .inner
            %i.icon.icon-glasses
            %span About
      .left
        = link_to 'javascript:void(0)', data: { trigger: 'modal' } do
          .contact
            .inner
              %i.icon.icon-send
              %span.vtext Contact
      .right
        = link_to 'https://github.com/Lubosky', target: '_blank', title: 'GitHub' do
          .github
            .inner
              %i.icon.icon-logo-github
        = link_to 'https://twitter.com/Lubosky', target: '_blank', title: 'Twitter' do
          .twitter
            .inner
              %i.icon.icon-logo-twitter
