---
layout: home
---
.home_wrapper
  %h1
    This is title.
  %h3
    This is subtitle.
#sidebar
  = link_to '/blog' do
    #top.work
      .inner
        %i.icon.icon-message
        %span Blog
  #bottom
    .left
      = link_to '/work' do
        .work
          .inner
            %i.icon.icon-lab
            %span Work
    .right
      = link_to '/about' do
        .about
          .inner
            %i.icon.icon-glasses
            %span About
      .left
        = link_to '/#contact', class: 'trigger-modal' do
          .contact
            .inner
              %i.icon.icon-send
              %span.vtext Contact
      .right
        = link_to 'https://github.com/Lubosky', target: '_blank', title: 'GitHub' do
          .github
            .inner
              %i.icon.icon-logo-github
        = link_to 'https://twitter.com/Lubosky', target: '_blank', title: 'Twitter' do
          .twitter
            .inner
              %i.icon.icon-logo-twitter